# Виртуальное окружение
.venv/
env/
ENV/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш тестов
.pytest_cache/

# Кэш покрытия кода
.coverage
htmlcov/

# Логи
*.log

# Базы данных
*.sqlite3

# Конфиденциальные файлы
.env
.env.*

# Системные файлы
.DS_Store
Thumbs.db

# Конфиги IDE (если работаешь в VS Code, PyCharm и т.д.)
.vscode/
.idea/

# Docker (если будешь потом работать с контейнерами)
docker-compose.override.yml

# Миграции (если потом будет Django / Flask проект)
migrations/

# Кэш pip
pip-wheel-metadata/
